/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

:root {
    --primary-color: #6a5b00;
    --secondary-color: #f7ed65;
    --tertiary-color: #f7ebd5;
    --dark-grey: #2b2b2b;
    --h-font-weight: 700;
    --h-font-height: 1.4;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--tertiary-color);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: var(--h-font-height);
    overflow-x: hidden;
}

h1 {
    font-size: 40px;
    font-weight: var(--h-font-weight);
    line-height: var(--h-font-height);
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: var(--h-font-weight);
    line-height: var(--h-font-height);
    text-align: center;
}

h3 {
    font-size: 24px;
    font-weight: var(--h-font-weight);
    line-height: var(--h-font-height);
    text-align: center;
}

li {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: italic;
    line-height: 1.2;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 5px 20px 5px 20px;
    color: #6a5b00;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-header__item {
    width: 200px;
    height: 200px;
}

.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

a {
    color: var(--primary-color);
}

a:hover, a:focus {
    text-decoration: none;
}

a:active {
   /* selected link */
    color: #489c79;
}

button, .button {
    border: none;
    display: inline-block;
    font-family: inherit;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    background-color: var(--primary-color);
}

button:hover, button:focus, .button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.8;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.profile__portrait {
    margin-right: 30px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.about__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    max-width: 800px;
    border-bottom: 2px solid black;
    margin: 0 auto;
}

.about__header-title-caption {
    border-left: 4px solid black;
    padding-left: 20px;
}

.about__portrait {
    width: 250px;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border: 1px solid var(--primary-color);
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.about__content {
    max-width: 1200px;
    margin: 0 auto 30px;
}

.about__text {
    margin-bottom: 20px;
}

.about__button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 30px 0;
}

.about__table-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px 0;
    padding: 0 10px;
}

.profile {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.profile__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

table {
    border: 3px solid black;
    -webkit-box-shadow: 5px 5px 5px #afa953;
    box-shadow: 5px 5px 5px #afa953;
    max-width: 700px;
    width: 100%;
}

th {
    border: 2px solid black;
    padding: 10px;
    font-weight: bold;
    background-color: #f7ed65;
}

td {
    border: 1px solid black;
    padding: 5px;
    background-color: #f5f1ba;
}

tbody {
    text-align: center;
}

main {
    display: block;
    /* border-style: solid; */
    /* border-width: 2px; */
    /* border-color: black; */
    margin-left: 100px;
    margin-right: 100px;
}

.pokedex-snip {
    width: 200px;
    height: 137px; /* correct ratio of actual screen snip used */
}

.mongo-snip {
    width: 200px;
    height: 109px; /* correct ratio of actual screen snip used */
}

.meet-snip {
    width: 200px;
    height: 150px; /* correct ratio of actual screen snip used */
}

.client-snip {
    width: 200px;
    height: 144px; /* correct ratio of actual screen snip used */
}

.chat-snip {
    width: 200px;
    height: 208px; /* correct ratio of actual screen snip used */
}

.angular-snip {
    width: 200px;
    height: 193px; /* correct ratio of actual screen snip used */
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item {
    font-size: 24px;
}

.navigation-list__item--active {
    text-decoration: none;
}

.error-message {
    color: red;
    font-size: 12px;
}

.contact_info {
    text-align: center;
}

/* start grid fallback */
.grid_item {
    display: inline-block;
    width: 33%;
    border-radius: 5px;
}

.grid__img {
    margin-right: 30px;
    width: 200px;
    height: 120px;
}

/* end grid fallback */
@supports (display: grid) {
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 10px;
        font-size: 18px
   }
    .grid__item {
        background-color: lightgray;
        width: auto;
        min-height: auto;
        margin: 0;
        padding: 10px;
        border: 3px solid var(--primary-color);
        border-radius: 10px;
   }
    .grid__item:last-child {
       /* compiler is executing grid-area values as a function, manually overwrite with 1 / 3 / 3 / 3 */
        grid-area: 1 / 3 / 3 / 3;
   }
}

@media all and (max-width: 540px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
   }
}

@media all and (min-width: 540px) and (max-width: 875px) {
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
   }
}

@media all and (max-width: 768px) {
    .about__header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 20px;
        padding-bottom: 30px;
    }
    .about__header h2 {
        text-align: center;
    }
    .about__header-title-caption {
        border-left: none;
        padding-left: 0;
        border-top: 4px solid black;
        padding-top: 20px;
        max-width: 250px;
     }
    .about__portrait {
        width: 200px;
        height: 200px;
    }
    .about__table-container {
        overflow-x: auto;
        width: 100%;
        padding: 0 5px;
    }
    table {
        min-width: 300px;
    }
}

@media all and (max-width: 430px) {
    .about__table-container {
        overflow-x: auto;
        width: 100%;
        padding: 0;
        /* -webkit-overflow-scrolling: touch; TEMP - may not need */
    }
    table {
        font-size: 12px;
        min-width: 100px; /* TEMP - 140px or less */
        /* display: block; TEMP - may not need */
    }
    thead, tbody {
        /* display: block; TEMP - may not need */
        /* width: 100%; TEMP - may not need */
    }
    tr {
        /* display: table; TEMP - may not need */
        /* width: 100%; TEMP - may not need */
        /* table-layout: fixed; TEMP - may not need */
    }
    th, td {
        padding: 8px 5px;
        /* display: table-cell; TEMP - may not need */
    }
    .navigation-list__item {
        font-size: 18px;
    }
    .page-header__item {
        width: 150px;
        height: 150px;
    }
}


@media all and (max-width: 576px) {
    .profile {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 500px;
    }
    .profile__portrait {
        margin-right: 0px;
    }
    .about__portrait {
        width: 180px;
        height: 180px
    }
}

@media all and (min-width: 576px) and (max-width: 768px) {
    .profile__portrait {
        margin-right: 10px;
        -webkit-box-align: normal;
        -ms-flex-align: normal;
        align-items: normal;
    }
}

@media all and (max-width: 875px) {
    .grid {
        grid-gap: 10px;
   }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
   }
   h1 {
        font-size: 24px;
   }
   h3 {
        font-size: 18px;
   }
   button, .button {
        margin: 20px; 
   }
   .profile__portrait {
        width: 180px;
        height: 180px;
   }
   .profile {
        max-width: 600px;
   }
   main {
        margin: 0 50px;
    }
}

@media all and (min-width: 768) {
    input {
        width: 50%;
    }
    textarea {
        width: 50%;
    }
}